# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Conda environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
youtubeAlarm/

# Packages
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
__pypackages__/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
nosetests.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# Linux
*.out

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# End of files
*.bak

# Media files
*.mp3
*.wav
*.flac
*.aac
*.ogg
*.m4a
*.mp4
*.mkv
*.avi
*.mov
*.wmv
*.flv
*.webm
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.svg

# Specific to this project
Downloaded_Music_YouTube/
playlist_metadata.pkl
